


.jumbotron {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: black;
	opacity: 0.8;
	color: gray;
}

h1 {
	text-align: center;
	font-family: New Century Schoolbook, serif;
}

h2 {
	text-align: center;
	font-family: New Century Schoolbook, serif;
}


body img {
	width:230px;
    height:430px;

}



.col-sm-6, #perfil, #watchlist{
	text-align: center;
}

.modal-title {
	color: blue;

}

.nota {
 background-color: #FFFF00 ;
 font-size: 18px;
   border-radius: 50%;
   font-weight: 200;
   height: 80px;
   line-height: 80px;
   text-align: center;
   width: 80px;
 top: -40px;
 right: 40px;
	margin: 0 auto;
	margin-left: 43%;
	
}

.registro {

	background-color: #FFFF00 ;
 	font-size: 18px;
   font-weight: 200;
   height: 50px;
   line-height: 50px;
   text-align: center;
   border-radius: 10px

}

h5 {
	color: #007fff;

}

#foot {
	height: 100px;
	color: #000;
}

.modal {
	color: black;
}