
.jumbotron {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: black;
	opacity: 0.85;
	color: green;
}

h1 {
	text-align: center;
	font-family: New Century Schoolbook, serif;
}

h2 {
	text-align: center;
	font-family: New Century Schoolbook, serif;
}


.row img {
	width:89px;
    height:132px;
}

.col-sm-6 {
    height:200px;

}

.col-lg-4 {
	text-align: center;
}




