<!DOCTYPE html>
<html lang="pt-br" ng-app="pesquisaSeries">
  <head>
    <meta charset="utf-8">
	<title>Pesquisar Séries</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script src="lib/angular/angular.min.js"></script>
	<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>

	<script src="js/app.js"></script>
	<script src="js/controllers/pesquisaSeriesCtrl.js"></script>

  </head>

  <body ng-controller="pesquisaSeriesCtrl">

    <div class="container">

      <div class="masthead">
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Séries do Meu Perfil</a></li>
            <li><a href="#">Séries do Meu Watchlist</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>{{app}}</h1>
        <input class="form-control" type="text" ng-model="nome"" placeholder="Nome da série">
		<button class="btn btn-lg  btn-success" ng-click="procuraSerie(nome)"  ng-disabled="!nome">Pesquisar</button>
      </div>

      <!-- Example row of columns -->
      <div class="row">

      	 <div ng-repeat="serie in seriesPesquisadas" class="col-sm-6">
	 		<h4>{{serie.Title}}</h4>
	 		<img ng-src="{{serie.Poster}}" alt="...">
	 		<button class="btn btn-default" ng-click="adicionaSerieAoWatchlist(serie)">Adicionar ao Watchlist</button>
	 		<button class="btn btn-default" ng-click="adicionaSerieAoPerfil(serie)">Adicionar ao Perfil</button>
	 	</div>	


        <div class="col-lg-4">
          <h2>Séries do Meu Perfil</h2>
          <div ng-repeat="serie in seriesPerfil" class="col-sm-6">
          		<h6>{{serie.Title}}</h6>
	 			<img ng-src="{{serie.Poster}} " alt="...">
	 		</div>
        </div>

        <div class="col-lg-4">
          <h2>Séries do Meu Watchlist</h2>
          <div ng-repeat="serie in seriesWatchlist" class="col-sm-6">
          		<h6>{{serie.Title}}</h6>
	 			<img ng-src="{{serie.Poster}} " alt="...">
	 		</div>
       </div>

        <div class="col-lg-4">
          <h2>About</h2>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <a href=”mailto:raquel.fonseca@ccc.ufcg.edu.br”>Raquel A. Fonseca</a>
      </footer>

    </div> <!-- /container -->

  </body>
</html>























































































